#wikiInfo{
	
}

#WInfo{
	
	position: absolute;
	right: 10px;
	top: 360px;
	width: 450px;
	height: 300px;
	overflow:scroll;
	line-height: 30px;
}

#WInfo2{
	position: absolute;
	left: 10px;
	top: 50px;
	
	width: 450px;
	height: 300px;
	overflow:scroll;
	line-height: 30px;
	outline-color: black;
}

#WInfo3{
	
	position: absolute;
	right: 10px;
	top: 750px;
	width: 450px;
	height: 300px;
	overflow:scroll;
	line-height: 30px;
	outline-color: black;
}




#spellbox {
	input:focus;
	font-size:30px;
	line-height:45px;
	margin-top: 90px;
	background-color: transparent; 
	border-style: solid; 
	border-width: 0px 0px 1px 0px; 
	border-color: #ebebeb;
    outline: none;
    padding: 10px;
    width: 350px;

}
h2 {
	color: #444 !important;
}
body {
}
ul{
    list-style-type: none;
}

#dictionary {
	padding: 7px;
	height: 200px;
	width: 600px;
	margin-right: 20px;
	margin-top: -200px;
	border-radius: 7px;
	background-color: white;
}