#spellbox {
	input:focus;
	font-size-size:155%;
	line-height:45px;
	margin-top: 90px;
	background-color: transparent; 
	border-style: solid; 
	border-width: 0px 0px 1px 0px; 
	border-color: black;
    outline: none;
    width: 350px;

}

ul{
    list-style-type: none;
}

#dictionary {
	padding: 7px;
	height: 200px;
	width: 600px;
	margin-right: 20px;
	margin-top: -200px;
	border-radius: 7px;
	background-color: white;
}